<?xml version="1.0"?>
<config>
    <modules>
        <Test_Taufik>
            <version>0.1.0</version>
        </Test_Taufik>
    </modules>
    <global>
        <blocks>
            <list>
                <class>Test_Taufik_Block</class>
            </list>
        </blocks>
        <models>
            <taufik>
                <class>Test_Taufik_Model</class>
                <resourceModel>taufik_mysql4</resourceModel>
            </taufik>
            <taufik_mysql4>
                <class>Test_Taufik_Model_Mysql4</class>
                <entities>
                    <taufik>
                        <table>test_taufik</table>
                    </taufik>
                </entities>
            </taufik_mysql4>
        </models>
        <resources>
            <taufik_setup>
                <setup>
                    <module>Test_Taufik</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </taufik_setup>
            <taufik_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </taufik_write>
            <taufik_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </taufik_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <list>
                <use>standard</use>
                <args>
                    <module>Test_Taufik</module>
                    <frontName>list</frontName>
                </args>
            </list>
        </routers>
        <layout>
            <updates>
                <list>
                    <file>taufik_list.xml</file>
                </list>
            </updates>
        </layout>
    </frontend>
</config>